{% set collections = _view.mongo_manager.getCollections %}

<ul id="navigation-tree">
	{% for server, dbs in collections %}
		<li class="server-branch">
			<span class="server-label"><a href="{{ path('mongo_server', {'server': server}) }}">{{ server }}</a></span>
			{% if dbs|length > 0 %}
				<ul>
					{% for db, names in dbs %}
						<li>
							<span><a href="{{ path('mongo_db', {'server': server, 'db': db}) }}">{{ db }}</a></span>
							{% if names|length > 0 %}
								<ul>
									{% for collection in names %}
										<li>
											<span>
												<a href="{{ path('mongo_collection', {'server': server, 'db': db, 'collection': collection}) }}">{{ collection }}</a>
											</span>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>